
@font-face {
    font-family: 'SK Pupok Solid';
    src: url('SKPupok-Solid.woff2') format('woff2'),
        url('SKPupok-Solid.woff') format('woff'),
        url('SKPupok-Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 h1 {
    font-family: 'SK Pupok Solid';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #284729;
    color: white;
    position: absolute;
    transform: translateY(-200px);
    font-size: 105px;

    

}



/* .typewriter h1 {
  text-align:center;
color: #FFD9E0;
  font-family: "bilo";
font-weight: 700;
font-size:60px;
font-style: italic;
color:#FFD9E0;
overflow: hidden; 

border-right: .15em #FFD9E0; 

white-space: nowrap; 

margin: 0 auto; 

letter-spacing: .15em; 

animation: 
  typing 3.5s steps(50, end),
  blink-caret .5s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 100% }
}


@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: pink }
} */

.frontpage {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.frontpage img {
   transform: scale(.32);
   border-radius: 25px;
   
}
.frontpage p {

      font-family: monospace;
      color: white;
      font-size: 28px;
      text-align: justify;
      max-width: 40%;
      position: absolute;
      top: 300px;
      overflow: hidden;
      white-space: pre-wrap;

     
      
      
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      /* letter-spacing: .15em; Adjust as needed */
      animation: 
        typing 3.5s steps(100, end),
        blink-caret .5s step-end infinite;

}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: pink }
}

 .data-container {
 
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto;

}

.data-item {
    position: relative;
    /* width: 100%;
    max-width: 100%; */
    position: relative;
    width: calc( 50% - 65px);
    max-width: 50%;
    background-size: cover;
    background-position: center;

}





.text-content {
    position: relative;
    
 
    
}



.name {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'SK Pupok Solid';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    color: #284729;
    text-align: right;
    top: 40px;
    z-index: 3;
   
}

.name:hover {
  color: #6b8a73
}
a{
  text-decoration: none;
}

.name::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

p {
    margin: 0;
    font-size: 22px;
    text-align: left;
    font-family: monospace;
    position: relative;
    
    /* top: -35px; */

}



.data-item:nth-child(2n) p{
    text-align: right
}
.data-item:nth-child(2n) .name{
    text-align: left
}

.picture-container {
    position: relative;
    width: fit-content;
}

.picture-container img{
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;

}

.version-one {
    opacity: 1;
    z-index: 2;
  }
  .topo-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }
  .topo-map img {
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }
  
  .version-one:hover::after {
    opacity: 0;
  }
  
  .version-one:hover {
    opacity: 0;
  }
  
  .detail-text {
    position: relative;
    font-style: italic;
  }
  
  @media screen and (max-width: 800px) {
    .data-container {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
  
    .data-item {
      width: 100%;
      max-width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .name,
    .detail-text {
      text-align: left;
    }
  
    .frontpage p {
      font-size: 14px;
      max-width: 50%;
      top: 400px;
     
    
    }
    h1 {
      font-size: 55px;
    }
    .frontpage img {
      height: 1000px;
      width: auto;
      
    }
    .frontpage {
        max-width: 100%
    }
  }
  
  @media screen and (min-width: 800px) {
    .data-item:nth-child(2n) {
      top: 200px;
    }
    .frontpage {
      height: 100vh;
    }
  }
