
@font-face {
    font-family: 'SK Pupok Solid';
    src: url('SKPupok-Solid.woff2') format('woff2'),
        url('SKPupok-Solid.woff') format('woff'),
        url('SKPupok-Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 h1 {
    font-family: 'SK Pupok Solid';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #284729;
    color: white;
    position: absolute;
    transform: translateY(-200px);
    font-size: 105px;

}

.frontpage {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.frontpage img {
   transform: scale(.32);
   border-radius: 25px;
   
}
.frontpage p {
    /* font-family: "miller-text", serif;
    font-weight: 400; */
    font-family: arial;
   
    position: absolute;
    max-width: 40%;
    color: white;
    font-size: 28px;
    transform: translateY(150px);
    text-align: justify;
    top: 200px;
}

 .data-container {
 
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto;

}

.data-item {
    position: relative;
    /* width: 100%;
    max-width: 100%; */
    position: relative;
    width: calc( 50% - 65px);
    max-width: 50%;
    background-size: cover;
    background-position: center;

}





.text-content {
    position: relative;
    
 
    
}



.name {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'SK Pupok Solid';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    color: #284729;
    text-align: right;
    top: 40px;
    z-index: 3;


}

.name::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

p {
    margin: 0;
    font-size: 22px;
    text-align: left;
    font-family: arial;
    position: relative;
    
    /* top: -35px; */

}



.data-item:nth-child(2n) p{
    text-align: right
}
.data-item:nth-child(2n) .name{
    text-align: left
}

.picture-container {
    position: relative;
    width: fit-content;
}

.picture-container img{
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;

}

.version-one {
    opacity: 1;
    z-index: 2;
  }
  .topo-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }
  .topo-map img {
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }
  
  .version-one:hover::after {
    opacity: 0;
  }
  
  .version-one:hover {
    opacity: 0;
  }
  
  .detail-text {
    position: relative;
    font-style: italic;
  }
  
  @media screen and (max-width: 800px) {
    .data-container {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
  
    .data-item {
      width: 100%;
      max-width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .name,
    .detail-text {
      text-align: left;
    }
  
    .frontpage p {
      font-size: 17px;
      max-width: 50%;
     
    
    }
    h1 {
      font-size: 55px;
    }
    .frontpage img {
      height: 1000px;
      width: auto;
      
    }
    .frontpage {
        max-width: 100%
    }
  }
  
  @media screen and (min-width: 800px) {
    .data-item:nth-child(2n) {
      top: 200px;
    }
    .frontpage {
      height: 100vh;
    }
  }
